@model Swank.Web.Handlers.App.AppModel
@using Swank.Configuration;
@using Swank.Extensions;

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        @if (@Model.FavIconUrl.IsNotNullOrEmpty())
        {
        <link rel="icon" href="@Model.FavIconUrl">
        }

        @if (@Model.Title.IsNotNullOrEmpty())
        {
        <title>@Model.Title</title>
        }

        @foreach (var url in Model.Stylesheets)
        {
        <link href="@url" rel="stylesheet">
        }

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        @foreach (var url in Model.IEPolyfills)
        {
            <script src="@url"></script>
        }
        <![endif]-->
    
        <script>
            window.Swank = {
                overview: '@Raw(@Model.Overview.JavaScriptStringEncode())',
                modules: {
                    @foreach (var module in Model.Modules.Where(x => x.Overview.IsNotNullOrEmpty()))
                    {
                        @:'@module.Name': '@Raw(@module.Overview.JavaScriptStringEncode())',
                    }
                },
                authSchemes: {
                    @foreach (var scheme in Model.AuthenticationSchemes)
                    {<text>
                        '@scheme.Name': {
                            components: [
                            @foreach (var component in scheme.Components)
                            {<text>
                                {
                                    name: '@component.Name',
                                    header: @((component.Location == AuthenticationLocation.Header).ToString().ToLower()),
                                    querystring: @((component.Location == AuthenticationLocation.Querystring).ToString().ToLower()),
                                    urlParameter: @((component.Location == AuthenticationLocation.UrlParameter).ToString().ToLower()),
                                    generate: @Raw(component.ClientSideGenerator),
                                    parameters: [@Raw(component.Parameters.Select(x => "'" + x.Name + "'").Join(", "))]
                                },
                            </text>}                               
                            ]
                        },
                    </text>}
                }
            };
        </script>
    </head>

    <body>
        <div id="container"><div>
        
            <div class="swank-sidebar">
                <div class="swank-header">
                    <div>
                        <div class="swank-logo-container">
                            @if (@Model.LogoUrl.IsNotNullOrEmpty())
                            {
                                <img class="swank-logo" src="@Model.LogoUrl" />
                            }
                        </div>
                        <div class="swank-brand-container">
                            @if (@Model.Name.IsNotNullOrEmpty())
                            {
                                <a class="navbar-brand" href="#">@Model.Name</a>
                            }
                        </div>
                        <div class="swank-spec-link-container">
                            <a href="/@Model.SpecificationUrl" title="Specification">
                                <span class="glyphicon glyphicon glyphicon-cloud-download"></span>
                            </a>
                        </div>
                    </div>
                </div>
            
                @if (@Model.Overview.IsNotNullOrEmpty())
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#"> Overview </a>
                            </h4>
                        </div>
                        @if (@Model.OverviewLinks.Any())
                        {
                            <div class="panel-collapse collapse in">
                                <ul class="list-group">
                                    @foreach (var link in Model.OverviewLinks)
                                    {
                                        <li class="list-group-item">
                                            <a href="#@link.FragmentId">@link.Name</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    </div>
                }       
             
                @foreach (var module in Model.Modules)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a href="#ModulePanel-@module.Index" class="@(module.Collapsed ? "collapsed" : "")" data-toggle="collapse"> @module.Name </a>
                            </h4>
                        </div>
                        <div class="panel-collapse collapse @(module.Collapsed ? "" : "in")" id="ModulePanel-@module.Index">
                            <ul class="list-group">
                                    
                                @if (module.Overview.IsNotNullOrEmpty())
                                {
                                    <li class="list-group-item"><a href="#modules/@module.Name">Overview</a></li>
                                }

                                @foreach (var resource in module.Resources)
                                {
                                    <li class="list-group-item swank-resource">
                                        <a href="#resources/@resource">@resource</a>
                                    </li>
                                }
                            </ul>
                        </div>

                    </div>
                }            
                  
            </div>

            <div class="swank-content">
              
                <div id="content">
                
                </div>

                @if (@Model.Copyright.IsNotNullOrEmpty())
                {
                    <footer class="swank-footer">@Raw(@Model.Copyright)</footer>
                }
            
            </div>
        
        </div></div>

        @foreach (var url in Model.Scripts)
        {
            <script src="@url"></script>
        }
    </body>

    <script type="text/html" id="swank-resource-template">
        <h3 class="swank-resource-header">{{name}}</h3>

        {{#overview}}
        <div class="swank-resource-description">{{{.}}}</div>
        {{/overview}}
    
        {{#endpoints}}
    
        <div class="swank-endpoint swank-{{method}}">

            <div class="sticky swank-endpoint-header" data-target="#Endpoint-{{id}}">
                <!-- Screw it, I'm no longer fighting this troglodytic abomination that is CSS 
                to do something that a table does exactly what I want right out of the box. -->
                <table><tr>
                    <td class="swank-endpoint-method swank-doc-toggle">{{method}}</td>  
                    <td class="swank-endpoint-url swank-doc-toggle">{{{replace urlTemplate '/(\{.*?\})/g' 
                        '&lt;span class="swank-endpoint-parameter">$1&lt;/span>'}}}</td>
                    {{#secure}}  
                    <td class="swank-endpoint-secure swank-doc-toggle">
                        <span class="glyphicon glyphicon-lock" alt="Secure"></span>
                    </td>  
                    {{/secure}} 
                    <td class="swank-endpoint-name swank-doc-toggle">{{name}}</td> 

	                @if (!@Model.HideTestDrive)
	                {
                    <td class="swank-test-drive-toggle">Test Drive</td> 
                    }
                </tr></table>
            </div>

            <div id="Endpoint-{{id}}" class="collapse swank-endpoint-body">
            	{{> endpoint}}
                {{> testDrive}}
            </div>
         </div>

        {{/endpoints}}
    </script>

    <script type="text/html" id="swank-endpoint-template">
        <div class="swank-documentation">
            {{#if comments}}
            <div class="swank-endpoint-description">{{{comments}}}</div>
            {{/if}}
        
            {{#if urlParameters}}
                {{> urlParameters}}
            {{/if}}
        
            {{#if querystringParameters}}
                {{> querystringParameters}}
            {{/if}}
        
            {{#request}}
                {{#if headers}}
                    <h4>Request Headers</h4>
                    {{> headers}}
                {{/if}}

                {{#either comments body}}
                    <h4>Request</h4>
                    {{> message isRequest=true}}
                {{/either}}
            {{/request}}

            {{#response}}
                {{#if headers}}
                    <h4>Response Headers</h4>
                    {{> headers}}
                {{/if}}

                {{#either comments body}}
                    <h4>Response</h4>
                    {{> message isRequest=false}}
                {{/either}}
            {{/response}}

            {{#if statusCodes}}
                {{> statusCodes}}
            {{/if}}

            {{#if codeExamples}}
                {{> codeExamples}}
            {{/if}}
        </div>
    </script>

    <script type="text/html" id="swank-url-parameters-template">
        <h4>Url Parameters</h4>
        <table class="table table-zebra">
            <tbody>
                {{#urlParameters}}
                <tr>
                    <td class="swank-value swank-name"><strong>{{name}}</strong></td>
                    <td class="swank-description">
                        <p><code>{{type.name}}</code>{{{comments}}}</p>
                        {{#type}}
                            {{#enumeration}}
                                {{> options }}
                            {{/enumeration}}
                        {{/type}}
                    </td>
                </tr>
                {{/urlParameters}}
            </tbody>
        </table>    
    </script>

    <script type="text/html" id="swank-querystring-template">
        <h4>Querystring</h4>
        <table class="table table-zebra">
            <tbody>
                {{#querystringParameters}}
                <tr>
                    <td class="swank-value swank-name"><strong>{{name}}</strong></td>
                    <td class="swank-description">
                        <p><code>{{type.name}}</code>
                        {{#required}}<span class="badge swank-required">Required</span>{{/required}}
                        {{^required}}<span class="badge swank-optional">Optional</span>{{/required}}
                        {{#multipleAllowed}}<span class="badge">Multiple Allowed</span>{{/multipleAllowed}}
                        {{^required}}
                        {{#if defaultValue}}
                        <span class="label label-default">Default: <code>{{defaultValue}}</code></span>
                        {{/if}}
                        {{/required}}
                        {{{comments}}}
                        {{#type}}
                            {{#enumeration}}
                                {{> options }}
                            {{/enumeration}}
                        {{/type}}
                    </td>
                </tr>
                {{/querystringParameters}}
            </tbody>
        </table>  
    </script>

    <script type="text/html" id="swank-headers-template">
        <table class="table table-zebra">
            <tbody>
                {{#headers}}
                <tr>
                    <td class="swank-value swank-name"><strong>{{name}}</strong></td>
                    <td class="swank-description">
                        <p>
                        {{#optional}}<span class="badge swank-optional">Optional</span>{{/optional}}
                        {{#required}}<span class="badge swank-required">Required</span>{{/required}}
                        {{{comments}}}</p>
                    </td>
                </tr>
                {{/headers}}
            </tbody>
        </table>
    </script>

    <script type="text/html" id="swank-message-template">

        {{#if comments}}
        <div class="swank-message-description">
            <p>{{{comments}}}</p>
        </div>
        {{/if}}

        {{#if body}}

            <table class="table table-zebra swank-message">
                <thead>
                    <tr>
                        <th class="swank-sample-data-selector-container">

                            <ul class="nav nav-tabs swank-sample-data-selector swank-data-format-selector">
                                <li class="@(@Model.DisplayJsonData ? "active" : "hide")">
                                    <a data-format="json" href="#1" data-toggle="tab">{}</a>
                                </li>
                                <li class="@(@Model.DisplayXmlData ? (@Model.DisplayJsonData ? "" : "active") : "hide")">
                                    <a data-format="xml" href="#2" data-toggle="tab">&lt;/&gt;</a>
                                </li>
                            </ul>

                            <button class="btn swank-sample-data-copy" data-placement="bottom" data-original-title="Copied">
                                <span class="glyphicon glyphicon-copy"></span>
                                </button>
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    {{#body}}
                    <tr>
                        <td class="swank-sample-data swank-sample-data-json">{{> jsonMessage}}</td>
                        <td class="swank-sample-data swank-sample-data-xml hide">{{> xmlMessage}}</td>
                        <td>{{> messageDescription isRequest=../isRequest }}</td>
                    </tr>
                    {{/body}}
                </tbody>
            </table>
        
        {{/if}}

    </script>

    <script type="text/html" id="swank-message-description-template">

        {{^isClosing}}
            {{^isDictionaryEntry}}
                <p>
                    {{#isSimpleType}}<code>{{typeName}}</code>{{/isSimpleType}}
                    {{#isDictionary}}<span class="badge">Dictionary</span>{{/isDictionary}}
                    {{#isArray}}<span class="badge">Array</span>{{/isArray}}
                    {{#isMember}}
                        {{#isRequest}}
                            {{^optional}}<span class="badge swank-required">Required</span>{{/optional}}
                            {{#optional}}<span class="badge swank-optional">Optional</span>{{/optional}}
                            {{#if maxLength}}
                                <span class="label label-default">Max length: <code>{{maxLength}}</code></span>
                            {{/if}}
                            {{#if encoding}}
                                <span class="label label-default"><code>{{encoding}}</code></span>
                            {{/if}}
                            {{#if defaultValue}}
                                <span class="label label-default">Default: <code>{{defaultValue}}</code></span>
                            {{/if}}
                        {{/isRequest}}
                        {{#nullable}}<span class="badge swank-nullable">Nullable</span>{{/nullable}}
                    {{/isMember}}
                    {{{comments}}}
                </p>

                {{#isDeprecated}}
                    <div class="alert alert-danger">{{{deprecationMessage}}}</div>
                {{/isDeprecated}}

                {{#enumeration}}{{> options}}{{/enumeration}}
            {{/isDictionaryEntry}}
            {{#isDictionaryEntry}}
                <div class="panel panel-default">
                    {{#with dictionaryKey}}
                        <div class="panel-heading {{#unless enumeration}}empty{{/unless}}">
                            <span class="label label-default">Key</span>
                            <code>{{{typeName}}}</code>
                            {{{comments}}}
                        </div>
                        {{#enumeration}}{{> options}}{{/enumeration}}
                    {{/with}}
                </div>
                {{#either typeName comments}}
                    <div class="panel panel-default">
                        <div class="panel-heading {{#unless enumeration}}empty{{/unless}}">
                            <span class="label label-default">Value</span>
                            {{#isSimpleType}}<code>{{{typeName}}}</code>{{/isSimpleType}}
                            {{#isDictionary}}<span class="badge">Dictionary</span>{{/isDictionary}}
                            {{#isArray}}<span class="badge">Array</span>{{/isArray}}
                            {{{comments}}}
                        </div>
                        {{#enumeration}}{{> options}}{{/enumeration}}
                    </div>
                {{/either}}
            {{/isDictionaryEntry}}
        {{/isClosing}}
    </script>

    <script type="text/html" id="swank-json-message-template">
        <span class="sample-code-whitespace">{{{replace whitespace ' ' '&nbsp;'}}}</span>
        {{^isClosing}}
            {{#isMember}}
                <span class="swank-string">"{{name}}"</span>:&nbsp;
            {{/isMember}}
            {{#isDictionaryEntry}}
                <span class="swank-string">"<span style="font-style: italic">[{{name}}]</span>"</span>:&nbsp;
            {{/isDictionaryEntry}}
        {{/isClosing}}
        {{#isSimpleType}}
            {{#isString}}<span class="swank-string">"{{sampleValue}}"</span>{{/isString}}
            {{#isBoolean}}<span class="swank-primitive">{{sampleValue}}</span>{{/isBoolean}}
            {{#isNumeric}}<span class="swank-primitive">{{sampleValue}}</span>{{/isNumeric}}
            {{#isDateTime}}<span class="swank-string">"{{sampleValue}}"</span>{{/isDateTime}}
            {{#isDuration}}<span class="swank-string">"{{sampleValue}}"</span>{{/isDuration}}
            {{#isGuid}}<span class="swank-string">"{{sampleValue}}"</span>{{/isGuid}}
        {{/isSimpleType}}
        {{#isOpening}}
            {{#isArray}}[{{/isArray}}
            {{#isComplexType}}&#123;{{/isComplexType}}
            {{#isDictionary}}&#123;{{/isDictionary}}
        {{/isOpening}}
        {{#isClosing}}
            {{#isArray}}]{{/isArray}}
            {{#isComplexType}}&#125;{{/isComplexType}}
            {{#isDictionary}}&#125;{{/isDictionary}}
        {{/isClosing}}
        {{#isMember}}
            {{^isOpening}}
                {{^isLastMember}},{{/isLastMember}}
            {{/isOpening}}
        {{/isMember}}
    </script>

    <script type="text/html" id="swank-xml-message-template">
        <span class="sample-code-whitespace">{{{replace whitespace ' ' '&nbsp;'}}}</span>
        <span class="swank-bracket">&lt;
            {{~#isClosing~}}/{{~/isClosing~}}
        </span><span class="swank-name" style="{{#isDictionaryEntry}}font-style: italic{{/isDictionaryEntry}}">
            {{~#isDictionaryEntry~}}[{{name}}]{{~/isDictionaryEntry~}}
            {{~^isDictionaryEntry~}}{{name}}{{~/isDictionaryEntry~}}
        </span><span class="swank-bracket">&gt;</span>
        {{#isSimpleType}}
            {{sampleValue}}
            <span class="swank-bracket">&lt;/</span><span class="swank-name" style="{{#isDictionaryEntry}}font-style: italic{{/isDictionaryEntry}}">
                {{~#isDictionaryEntry~}}[{{name}}]{{~/isDictionaryEntry~}}
                {{~^isDictionaryEntry~}}{{name}}{{~/isDictionaryEntry~}}
            </span><span class="swank-bracket">&gt;</span>
        {{/isSimpleType}}
    </script>

    <script type="text/html" id="swank-status-codes-template">
        <h4>Status Codes</h4>

        <table class="table table-zebra">
            <tbody>
                {{#statusCodes}}
                <tr>
                    <td class="swank-value swank-name"><strong>{{code}} {{name}}</strong></td>
                    <td class="swank-description"><p>{{{comments}}}</p></td>
                </tr>
                {{/statusCodes}}
            </tbody>
        </table>
    </script>

    <script type="text/html" id="swank-code-examples-template">
        <h4>Examples</h4>

        <ul class="nav nav-tabs swank-code-example-selector" role="tablist">
            {{#codeExamples}}
            <li {{#equals index '0'}}class="active"{{/equals}}>
                <a data-language="{{language}}" href="#code-example-{{../id}}-{{index}}" data-toggle="tab">{{name}}</a>
            </li>
            {{/codeExamples}}
        </ul>

        <div class="tab-content">
            {{#codeExamples}}
            <div class="tab-pane {{#equals index '0'}}active{{/equals}}" id="code-example-{{../id}}-{{index}}">
                {{{comments}}}
                <div>
                    <button class="btn swank-code-example-copy" 
                        data-clipboard-target="#code-example-{{../id}}-{{index}}-content"
                        data-placement="bottom" data-original-title="Copied">
                    <span class="glyphicon glyphicon-copy"></span>
                    </button>
                    <pre class="swank-code-example {{language}}"><code id="code-example-{{../id}}-{{index}}-content">
                        {{~#with example~}}
                            {{{replace . '\r\n' '&lt;br/>'}}}
                        {{~/with~}}
                    </code></pre>
                </div>
            </div>
            {{/codeExamples}}
        </div>
    </script>

    <script type="text/html" id="swank-options-template">
        <table class="table table-zebra swank-options">
            <thead><tr><th>Possible Values</th></tr></thead>
            <tbody>
            {{#if comments}}
            <tr>
                <td>{{{comments}}}</td>
            </tr>
            {{/if}}
            {{#options}}
            <tr>
                <td>
                    {{^equals name value}}<b>{{name}}</b>:{{/equals}}<code>{{value}}</code>{{{comments}}}
                </td>
             </tr>
            {{/options}}
            </tbody>
        </table>
    </script>

    <script type="text/html" id="swank-test-drive-template">
        <div class="swank-test-drive" data-method="{{method}}" data-url="{{urlTemplate}}">
        <table class="swank-test-drive-panels">
        <tr>
            <td class="swank-test-drive-request-options">
                @if (Model.AuthenticationSchemes.Any())
                {<text>
                    {{#secure}} 
                    {{> testDriveAuthScheme}}
                    {{/secure}}
                </text>}

                {{> testDriveHeaders}}
            
                {{#any urlParameters '!isAuth'}}
                    {{> testDriveUrlParameters}}
                {{/any}}

                {{#any querystringParameters '!isAuth'}}
                    {{> testDriveQuerystring}}
                {{/any}}
            </td>

            {{#unless isGet}}
            <td class="swank-test-drive-request-data">
                {{> testDriveData }}  
            </td>
            {{/unless}}

            <td class="swank-test-drive-response">
                {{> testDriveResponse }}  
            </td>
        </tr>
        </table>
        <table><tr>
        <td><button class="swank-test-drive-execute">{{method}}</button></td>
        </tr></table>
        </div>
    </script>

    <script type="text/html" id="swank-test-drive-response-template">
        <h4>Response</h4>
        {{#request}}
        <ul class="nav nav-tabs" role="tablist">
            <li class="active"><a href="#test-drive-response-headers-{{../id}}" data-toggle="tab">Headers</a></li>
            <li><a href="#test-drive-response-body-{{../id}}" data-toggle="tab">Body</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="test-drive-response-headers-{{../id}}">
                <pre><code class="swank-test-drive-response-headers"></code></pre>
            </div>
            <div class="tab-pane swank-test-drive-response-body" id="test-drive-response-body-{{../id}}">
            </div>
        </div>
        {{/request}}
    </script>

    <script type="text/html" id="swank-test-drive-data-template">
        <h4>Request Body</h4>
        {{#request}}
        <ul class="nav nav-tabs swank-data-format-selector" role="tablist">
            <li class="@(@Model.DisplayJsonData ? "active" : "hide")"><a href="#test-drive-json-{{../id}}" data-format="json" data-toggle="tab">{}</a></li>
            <li class="@(@Model.DisplayXmlData ? (@Model.DisplayJsonData ? "" : "active") : "hide")"><a href="#test-drive-xml-{{../id}}" data-format="xml" data-toggle="tab">&lt;/&gt;</a></li>
            <li><a href="#test-drive-text-{{../id}}" data-format="text" data-toggle="tab">Text</a></li>
            <li><a href="#test-drive-base64-{{../id}}" data-format="base64" data-toggle="tab">Base64</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane @(@Model.DisplayJsonData ? "active" : "hide") swank-test-drive-json-request" id="test-drive-json-{{../id}}">
                <textarea name="json" rows="{{body.length}}">{{#body}}{{> testDriveJsonData}}&#13;&#10;{{/body}}</textarea>
            </div>
            <div class="tab-pane @(@Model.DisplayXmlData ? (@Model.DisplayJsonData ? "" : "active") : "hide") swank-test-drive-xml-request" id="test-drive-xml-{{../id}}">
                <textarea name="xml" rows="{{body.length}}">{{#body}}{{> testDriveXmlData}}&#13;&#10;{{/body}}</textarea>
            </div>
            <div class="tab-pane swank-test-drive-text-request" id="test-drive-text-{{../id}}">
                <textarea name="text" rows="10"></textarea>
            </div>
            <div class="tab-pane swank-test-drive-base64-request" id="test-drive-base64-{{../id}}">
                <textarea name="base64" rows="10"></textarea>
            </div>
        </div>
        {{/request}}
    </script>

    <script type="text/html" id="swank-test-drive-json-data-template">
        {{{replace whitespace ' ' '&#32;'}}}
        {{^isClosing}}
            {{#isMember}}
                "{{name}}":&#32;
            {{/isMember}}
            {{#isDictionaryEntry}}
                "[{{name}}]":&#32;
            {{/isDictionaryEntry}}
        {{/isClosing}}
        {{#isSimpleType}}
            {{#isString}}"{{sampleValue}}"{{/isString}}
            {{#isBoolean}}{{sampleValue}}{{/isBoolean}}
            {{#isNumeric}}{{sampleValue}}{{/isNumeric}}
            {{#isDateTime}}"{{sampleValue}}"{{/isDateTime}}
            {{#isDuration}}"{{sampleValue}}"{{/isDuration}}
            {{#isGuid}}"{{sampleValue}}"{{/isGuid}}
        {{/isSimpleType}}
        {{#isOpening}}
            {{#isArray}}[{{/isArray}}
            {{#isComplexType}}&#123;{{/isComplexType}}
            {{#isDictionary}}&#123;{{/isDictionary}}
        {{/isOpening}}
        {{#isClosing}}
            {{#isArray}}]{{/isArray}}
            {{#isComplexType}}&#125;{{/isComplexType}}
            {{#isDictionary}}&#125;{{/isDictionary}}
        {{/isClosing}}
        {{#isMember}}
            {{^isOpening}}
                {{^isLastMember}},{{/isLastMember}}
            {{/isOpening}}
        {{/isMember}}
    </script>

    <script type="text/html" id="swank-test-drive-xml-data-template">
        {{{replace whitespace ' ' '&#32;'}}}
        &lt;
            {{~#isClosing~}}/{{~/isClosing~}}
            {{~#isDictionaryEntry~}}[{{name}}]{{~/isDictionaryEntry~}}
            {{~^isDictionaryEntry~}}{{name}}{{~/isDictionaryEntry~}}
        &gt;
        {{#isSimpleType}}
            {{sampleValue}}
            &lt;/
                {{~#isDictionaryEntry~}}[{{name}}]{{~/isDictionaryEntry~}}
                {{~^isDictionaryEntry~}}{{name}}{{~/isDictionaryEntry~}}
            &gt;
        {{/isSimpleType}}
    </script>

    <script type="text/html" id="swank-test-drive-auth-scheme-template">

        <h4>Authentication</h4>
        <div class="swank-auth-schemes">
        <table>
            <tr>
                <td>
                    <label><input type="radio" name="auth-scheme-{{id}}" value="None">
                     <span>None</span></label>
                </td>
                <td></td>
            </tr>
            @foreach(var scheme in Model.AuthenticationSchemes)
            {
            <tr>
                <td>
                    <label><input type="radio" name="auth-scheme-{{id}}" value="@scheme.Name">
                    <span>@scheme.Name</span></label>
                </td>
                <td>
                    @{
                        var parameters = scheme.Components.SelectMany(x => x.Parameters);
                    }
                    @if (parameters.Count() > 1)
                    {<text>
                    <table>
                    @foreach(var parameter in parameters)
                    {
                        <tr>
                            <td>
                                <div class="input-group">
                                  <span class="input-group-addon">
                                    <span>@parameter.Name</span>
                                  </span>
                                  <input name="@scheme.Name-@parameter.Name" type="@(parameter.Hide ? "password" : "text")" class="form-control">
                                </div>
                            </td>
                        </tr>
                    }
                    </table>
                    </text>}
                    else
                    {
                        var parameter = parameters.First();
                    <text>
                        <input name="@scheme.Name-@parameter.Name" type="@(parameter.Hide ? "password" : "text")" class="form-control">
                    </text>}
                </td>
            </tr>
            }
        </table>
        </div>
    </script>

    <script type="text/html" id="swank-test-drive-headers-template">
        <h4>Request Headers</h4>
        <table class="swank-test-drive-headers">
            <tbody>
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input name="accept" type="checkbox" checked="checked"> <span class="swank-parameter-name">accept</span>
                          </span>
                          <input name="accept" type="text" class="form-control">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right select-text">
                              <li><a>application/json</a></li>
                              <li><a>application/xml</a></li>
                              <li><a>text/plain</a></li>
                              <li><a>application/octet-stream</a></li>
                            </ul>
                          </div>
                        </div>
                    </td>
                </tr>

                {{#unless isGet}}
                {{#unless isDelete}}
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input name="content-type" type="checkbox" checked="checked"> <span class="swank-parameter-name">content-type</span>
                          </span>
                          <input name="content-type" type="text" class="form-control">
                          <div class="input-group-btn">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></button>
                            <ul class="dropdown-menu dropdown-menu-right select-text">
                              <li><a>application/json</a></li>
                              <li><a>application/xml</a></li>
                              <li><a>text/plain</a></li>
                              <li><a>application/octet-stream</a></li>
                            </ul>
                          </div>
                        </div>
                    </td>
                </tr>
                {{/unless}}
                {{/unless}}

                {{#request}}
                {{#headers}}
                {{#unless isAuth}}
                {{#unless isContentType}}
                {{#unless isAccept}}
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input name="{{name}}" type="checkbox" {{^optional}}checked="checked" disabled="disabled"{{/optional}}> <span class="swank-parameter-name">{{name}}</span>
                          </span>
                          <input name="{{name}}" type="text" value="{{type.sampleValue}}" class="form-control">
                        </div>
                    </td>
                </tr>
                {{/unless}}
                {{/unless}}
                {{/unless}}
                {{/headers}}
                {{/request}}
            </tbody>
        </table>
    </script>

    <script type="text/html" id="swank-test-drive-querystring-template">
        <h4>Querystring Parameters</h4>
        <table class="swank-test-drive-querystring">
            <tbody>
                {{#querystringParameters}}
                {{#unless isAuth}}
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <input name="{{name}}" type="checkbox" {{#required}}checked="checked" disabled="disabled"{{/required}}> <span class="swank-parameter-name">{{name}}</span>
                          </span>
                          <input name="{{name}}" type="text" value="{{type.sampleValue}}" class="form-control">
                        </div>
                    </td>
                </tr>
                {{/unless}}
                {{/querystringParameters}}
            </tbody>
        </table> 
    </script>

    <script type="text/html" id="swank-test-drive-url-parameters-template">
        <h4>Url Parameters</h4>
        <table class="swank-test-drive-url-parameters">
            <tbody>
                {{#urlParameters}}
                {{#unless isAuth}}
                <tr>
                    <td>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <span class="swank-parameter-name">{{name}}</span>
                          </span>
                          <input name="{{name}}" type="text" value="{{type.sampleValue}}" class="form-control">
                        </div>
                    </td>
                </tr>
                {{/unless}}
                {{/urlParameters}}
            </tbody>
        </table> 
    </script>

</html>